
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";;

html {
  font-family: sans-serif;
    -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.btn-color-exam {
    background-color: #DAA520;
    border-color: #DAA520;
}

.correct {
    color: #FF33FF;
    font-weight: bold;
}

.wrong {
    color: #3333CC;
    font-weight: bold;
}
hr {
    border-top: 4px double #8c8b8b;
    text-align: center;
}
