
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";;

html {
  font-family: sans-serif;
    -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

.btn-color-exam {
    background-color: #DAA520;
    border-color: #DAA520;
}
