{% extends('layouts/auth_default') %}

{% block title %}ログインしていないようです{% endblock %}

{% block content %}
<h4>
ログインしていないようです
<br><br>
ログインすると、以下のような機能が使えるようになるので便利です
<br>
・間違えた問題を見直す(間違えた問題が自動で登録されます)
<br>
・問題ごとにノートを残せます
<br>
・コミュニティに参加して他のユーザと問題を出し合ったり、勉強法を相談したりできます
<br>
メールアドレスと匿名のユーザ名だけで登録できます★
<br><br>
ログインせずに進むこともできます
<br><br>
<p>
<a href="/register">新規登録</a>
</p>
<p>
<a href="/login">ログイン</a>
</p>
<p>
<a href="/questions_without_login?category={{ category }}">ログインせずに問題に進む</a>
</p>
</h4>
{% endblock %}
