語彙の練習問題

<form method="post" action="/questions/start">
{{ csrf_field() }}
<p>問題数の設定<br>
<input type="radio" name="qs" value="1">10問
<input type="radio" name="qs" value="2">20問
<input type="radio" name="qs" value="3">30問
</p>
<p><input type="submit" value="設定を保存して問題を開始"></p>
</form>
