<!DOCTYPE html>
<html lang="ja">

<head>
    <title>
        日本語能力試験　練習
    </title>
</head>

<body>
日本語能力試験　練習
<a href="#" onClick="window.alert('ログインしてください'); return false;">文字</a>
<li><a href="/questions?category=1">文字</a></li>
<li><a href="/questions?category=2">語彙</a></li>
<li><a href="/questions?category=3">文法</a></li>
<li><a href="/questions?category=4">読解</a></li>
<li><a href="/questions?category=5">聴解</a></li>
<li><a href="/questions/exam">試験</a></li>
</body>
