{% extends('layouts/auth_default') %}

{% block title %}日本語能力試験N1{% endblock %}

{% block content %}

対策したい分野を選んでください
<br><br>

<p>
<a href="/questions?category=1">文字</a>
</p>
<p>
<a href="/questions?category=2">語彙</a>
</p>
<p>
<a href="/questions?category=3">文法</a>
</p>
<p>
<a href="/questions?category=4">読解</a>
</p>
<p>
<a href="/questions?category=5">聴解</a>
</p>
<p>
<a href="/questions/exam">試験</a>
</p>
{% endblock %}
